# Copy this file to .env and fill in the values
TRADING_SUBACCOUNT_API_KEY=
TRADING_SUBACCOUNT_API_SECRET=
COUNTERTRADING_SUBACCOUNT_API_KEY=
COUNTERTRADING_SUBACCOUNT_API_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHANNEL_ID=